[submodule "fastcampus/한 번에 끝내는 프론트엔드 개발 초격자 패키지 Online/예제들/스타벅스 예제/Lib/Starbucks"]
	path = fastcampus/한 번에 끝내는 프론트엔드 개발 초격자 패키지 Online/예제들/스타벅스 예제/Lib/Starbucks
	url = https://github.com/GyuminGomin/Frontend-Studying.git
